# Este es un archivo requirements.txt básico
Flask==2.0.1  # Se especifica la versión exacta de Flask
requests>=2.26.0,<3.0.0  # Se especifica un rango de versiones para requests
numpy~=1.21.1  # Se especifica una versión compatible con 1.21.1 para numpy
twine
pylint
black
fastapi
uvicorn